@use "variables" as *;

$bg-gradient: linear-gradient(
  0deg,
  rgba(186, 200, 135, 0.8) 0%,
  rgba(186, 200, 135, 0.5) 100%
);
main {
  display: grid;
  grid-template-columns: 5fr 5fr;
  height: 93vh;

  .left-side {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 100px 80px;

    header {
      display: flex;
      flex-direction: column;
      align-items: start;

      gap: 64px;

      .info {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }
    }

    .continue-btn {
      background: $primary-main;
      color: $neutral100;

      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 150%;

      width: 100%;
      padding: 16px 0;
      height: fit-content;
    }
  }

  .right-side {
    padding: 24px;
    height: 100%;
    .bg-signin,
    .bg-signup {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;
    }

    .bg-signin {
      background: $bg-gradient,
        url(/images/bg/signin.jpg) center center / cover no-repeat;
      will-change: transform;
      transform: translateZ(0);
    }

    .bg-signup {
      background: $bg-gradient,
        url(/images/bg/signup.jpg) center center / cover no-repeat;
      will-change: transform;
      transform: translateZ(0);
    }
  }

  // Responsive styles
  @media (max-width: 1024px) {
    grid-template-columns: 1fr;
    height: auto;

    .left-side {
      padding: 48px 24px;
      height: auto;
    }

    .right-side {
      display: none;
    }
  }

  @media (max-width: 600px) {
    .left-side {
      padding: 24px 8px;
      gap: 16px;

      header {
        gap: 32px;

        .info {
          gap: 4px;
        }
      }

      .continue-btn {
        font-size: 14px;
        padding: 12px 0;
      }
    }
  }
}
