@use "variables" as *;

html {
  font-size: 16px;
  line-height: 1.5;
  background: $neutral10;

  body {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    margin: 0;

    color: $white;
  }

  p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    font-style: normal;
    margin: 0;

    color: $neutral60;
  }
}

header.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
